
:root {
    --color: white;
    --colorBG: black;
  }

  body {
    margin: 0;
    font-family: Poppins, sans-serif;
  }

  .parallax-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*  this is where the magic happens:  */
    background-attachment: fixed;

    background-color: var(--colorBG);
    background-image:image-set("images/LSCoverWebsite.png");
    background-position: center;
    background-size: cover;
    color: var(--color);
    row-gap: 1rem;
    text-align: center;
  }

  .buffer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*  this is where the magic happens:  */
    background-attachment: fixed;

    background-color: var(--color);
    background-image: url();
    background-position: center;
    background-size: cover;
    color: var(--colorbg);
    row-gap: 1rem;
    text-align: center;
  }

  .grid-item {
    display: inline-grid;
  }

  .parallax-container2 {
    flex-direction: row;
    flex-wrap: wrap;

    padding: 6rem 0;
    background-image: url();
    gap: 1.6em;
  }
  .buffer2 {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*thisiswherethemagichappens:;*/
    background-attachment: fixed;
    background-color: var(--color);
    background-image: image-set();
    background-position: center;
    background-size: cover;
    color: var(--colorbg);
    row-gap: 1rem;
    text-align: center;
}

.QRCode {
    max-width: 100%;
}